#game {
    margin: auto;

    background-image: url("../images/background.png");
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: contain;

    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

.top-buffer {
    margin-top:20px;
}

.player-bar {
    background-color: #ecf0f1;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*
 * highlight value change using ngAnimate
 * <span class="value-change" ng-class="['value-'+data]">
 */
.value-change {
    transition: background-color 0.26s linear 0s;
}
.value-change[class*="-add"] {
    background-color: yellow;
}
