<!doctype>
<html ng-app='sleth'>
<head>
<script type="text/javascript" src="lib/angular.min.js"></script>
<script type="text/javascript" src="lib/promise.min.js"></script>
<script type="text/javascript" src="lib/bignumber.min.js"></script>
<script type="text/javascript" src="lib/ethereum.js"></script>
<link rel="stylesheet" type="text/css" href="slots.css" />
</head>
<body ng-controller="SlethController" ng-keypress="handlePress($event)">

<div>
    <div id="wrap">

      <div id="game">
        <canvas slots-reels id="slots" width="160" height="160"></canvas>
        <button type="button" ng-click="spin(1)" ng-disabled="player.coins < 1">1 Line</button>
        <button type="button" ng-click="spin(3)" ng-disabled="player.coins < 3">3 Lines</button>
        <button type="button" ng-click="spin(5)" ng-disabled="player.coins < 5">5 Lines</button><br/>

        <button type="button" ng-click="claim(player.round, entropy)" ng-disabled="round.status != 1">claim #{{player.round}}</button>
        entropy
        <input type="number" ng-model="entropy" integer min="0" max="32767"></input>
      </div>

      <div id="info">
        <p id="credits">Coins ({{player.coins}})</p>
        <p id="log">
            <span ng-if="reward.payout">
                You won {{reward.payout}}!<br />
            </span>
            <span ng-repeat="(line, partial_payout) in reward.partial_payouts">
                Line {{line}} pays {{partial_payout}}<br />
            </span>
        </p>
      </div>

      <div id="paytable">
        <a href="paytable.html" target="_blank">Pay Table</a>
      </div>
    </div>

    <hr />
    <div>
        Contract: {{slethAddress}}<br />
        Player: {{player.address}}<br />
        Balance: {{player.balance | number : 4}} ETH<br />
    </div>

    <div>
        <button ng-click="deposit(depositAmount)" ng-disabled="depositAmount == 0 || depositAmount > player.balance">deposit</button>
        <input type="number" ng-model="depositAmount" integer min="0"></input> coins
    </div>
    <div>
        <button ng-click="withdraw(withdrawAmount)" ng-disabled="withdrawAmount == 0 || withdrawAmount > player.coins">withdraw</button>
        <input type="number" ng-model="withdrawAmount" integer min="0"></input> coins
    </div>

    <hr />
    <div>
        <h3>Last Round #{{round.number}}</h3>
        <div>Player: {{round.player}}</div>
        <div>Block: {{round.block}}</div>
        <div>Timestamp: {{round.timestamp | date : 'medium'}}</div>
        <div>Bet: {{round.bet}}</div>
        <div ng-if="round.status == 2">Result: {{round.result}}</div>
        <div ng-if="round.status == 2">Entropy: {{round.entropy}}</div>
        <div>Status:
            <span ng-switch on="round.status">
                <span ng-switch-when="0">new</span>
                <span ng-switch-when="1">spinning</span>
                <span ng-switch-when="2">done</span>
            </span>
        </div>
    </div>

    <hr />
    <div>
        <h3>Message:</h3>
        <div ng-repeat="message in messages track by $index">
            <div>{{message}}</div>
        </div>
    </div>

</div>
<script type="text/javascript" src="config.js"></script>
<script type="text/javascript" src="game.js"></script>
<script type="text/javascript" src="reels.js"></script>
<script type="text/javascript" src="sleth.js"></script>
</body>
</html>
