<!doctype>
<html ng-app='sleth'>
<head>
<script type="text/javascript" src="lib/angular.min.js"></script>
<script type="text/javascript" src="lib/promise.min.js"></script>
<script type="text/javascript" src="lib/bignumber.min.js"></script>
<script type="text/javascript" src="lib/ethereum.js"></script>
<link rel="stylesheet" type="text/css" href="slots.css" />
</head>
<body ng-controller="SlethController" ng-keypress="keyPress($event)">
<h1>sleth</h1>

<div>
    <div>
        Contract: {{slethAddress}}<br />
        Player: {{player.address}}<br />
        Balance: {{player.balance | number : 4}} ETH<br />
        Coins: {{player.coins}}<br />
    </div>

    <div>
        <button ng-click="deposit(depositAmount)" ng-disabled="depositAmount == 0 || depositAmount > player.balance">deposit</button>
        <input type="number" ng-model="depositAmount" integer min="0"></input> coins
    </div>
    <div>
        <button ng-click="withdraw(withdrawAmount)" ng-disabled="withdrawAmount == 0 || withdrawAmount > player.coins">withdraw</button>
        <input type="number" ng-model="withdrawAmount" integer min="0"></input> coins
    </div>

    <hr />

    <div id="wrap">

        <div id="game">
            <canvas id="slots" width="160" height="160"></canvas><br />
        </div>

        <div id="info">
            <p id="credits"></p>
            <p id="log"></p>
        </div>

    </div>

    <hr />
    <div>
        <h3>Round #{{round.number}}</h3>
        <div>Player: {{round.player}}</div>
        <div>Block: {{round.block}}</div>
        <div>Timestamp: {{round.timestamp | date : 'medium'}}</div>
        <div>Bet: {{round.bet}}</div>
        <div ng-if="round.status == 2">Result: {{round.result}}</div>
        <div ng-if="round.status == 2">Entropy: {{round.entropy}}</div>
        <div>Status:
            <span ng-switch on="round.status">
                <span ng-switch-when="0">new</span>
                <span ng-switch-when="1">spinning</span>
                <span ng-switch-when="2">done</span>
            </span>
        </div>
    </div>
    <hr />
    <div>
        <button type="button" ng-click="spin(1)" ng-disabled="player.coins < 1">spin 1</button>
        <button type="button" ng-click="spin(3)" ng-disabled="player.coins < 3">spin 3</button>
        <button type="button" ng-click="spin(5)" ng-disabled="player.coins < 5">spin 5</button>
    </div>
    <div>
        <button type="button" ng-click="claim(player.round, entropy)" ng-disabled="round.status != 1">claim</button>
        round
        <input type="number" ng-model="player.round" integer min="1"></input>
        entropy
        <input type="number" ng-model="entropy" integer min="0" max="32767"></input>
    </div>
    <hr />
    <div>
        <h3>Message:</h3>
        <div ng-repeat="message in messages track by $index">
            <div>{{message}}</div>
        </div>
    </div>
</div>
<script type="text/javascript" src="app.js"></script>
</body>
</html>
