<html ng-app='slots'>
  <head>

    <title>Karma Slots!</title>
    <script type="text/javascript" src="lib/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="slots.css" />

  </head>
  <body ng-controller="SlotsController" ng-keypress="handleKey($event)">

    <div id="wrap">

      <div id="game">
        <canvas slots-reels id="slots" width="160" height="160"></canvas>
        <button type="button" ng-click="spin(1)">1 Line</button>
        <button type="button" ng-click="spin(3)">3 Lines</button>
        <button type="button" ng-click="spin(5)">5 Lines</button>
        <input type="number" ng-model="entropy" integer min="0" max="32767"></input>
        <button type="button" ng-click="stop()">stop</button>
      </div>

      <div id="info">
        <p id="credits">Karma ({{credits}})</p>
        <p id="log">
            <span ng-repeat="(line, partial_payout) in reward.partial_payouts">
                Line {{line}} pays {{partial_payout}}<br />
            </span>
        </p>
      </div>

      <div id="paytable">
        <a href="paytable.html" target="_blank">Pay Table</a>
      </div>

      <div id="attribution">
        by <a href="http://clintbellanger.net/rpg/" target="_blank">Clint Bellanger</a> and <a href="http://www.youtube.com/brandon75689" target="_blank">Brandon Morris</a>
      </div>

    </div>

    <script type="text/javascript" src="game.js"></script>
    <script type="text/javascript" src="reels.js"></script>
    <script type="text/javascript" src="sounds.js"></script>
    <script type="text/javascript" src="slots.js"></script>

  </body>
</html>
