<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Current Round #{{round.number}}</h3>
    </div>
    <table class="table table-condensed">
        <tr>
            <th class="col-md-2">Block</th><td class="col-md-4">{{round.block}}</td>
            <th>Status</th>
            <td ng-switch on="round.status">
                <span ng-switch-when="0">NEW</span>
                <span ng-switch-when="1">SPINNING</span>
                <span ng-switch-when="2">DONE</span>
                <span ng-switch-when="3">EXPIRED</span>
            </td>
        </tr>
        <tr>
            <th>Bet</th><td>{{round.bet}}</td>
            <th>Result</th>
            <td><reveal-value on="round.status == 2 && state < 2" value="round.result"></reveal-value></td>
        </tr>
        <tr>
            <th>Entropy</th><td>
                <reveal-value on="round.status == 2 && state < 2" value="round.entropy | limitTo : 10"></reveal-value>
            </td>
            <th>RND</th><td><reveal-value on="round.status == 2 && state < 2" value="round.rnd"></reveal-value></td>
        </tr>
    </table>
</div>
