<player-bar player="player" web3="web3"></player-bar>

<div class="alert alert-danger top-buffer" role="alert" ng-if="web3.error">
    <strong>{{web3.error.name}}</strong> {{web3.error.message}}
</div>

<div class="alert alert-warning top-buffer" role="alert" ng-if="stats.slethBalance < maxPayout">
    <strong>Warning!</strong> Contract balance is insufficient to fulfil maximum payout!
</div>

<div class="row" keypress-events>
    <div class="col-md-8 text-center">
        <div id="game" ng-style="{'width': canvasSize}">
            <canvas slots-reels id="slots" width="{{canvasSize}}" height="{{canvasSize}}"></canvas>
        </div>
    </div>
    <div class="col-md-4">
        <h1 id="credits">
            <ng-pluralize count="player.coins - bet"
             when="{'0': 'No Coins',
                    'one': '1 Coin',
                    'other': '{} Coins'}">
            </ng-pluralize>
            <span ng-if="bet">
                (- {{bet}})
            </span>
        </h1>

        <div ng-switch on="state">
            <div class="jumbotron" ng-switch-when="0">
                <h3>Place your bet!</h3>
            </div>

            <div class="list-group" ng-switch-when="1">
                <li class="list-group-item" ng-repeat="(line, partial_payout) in reward.partial_payouts">
                    Line {{line}} pays {{partial_payout}}
                </li>
                <li class="list-group-item list-group-item-success" ng-if="reward.payout">
                    You won {{reward.payout}}!
                    <span class="badge" ng-if="reward.verified">verified</span>
                </li>
                <li class="list-group-item list-group-item" ng-if="!reward.payout">
                    You won nothing :(
                    <span class="badge" ng-if="reward.verified">verified</span>
                </li>
            </div>

            <div class="list-group" ng-switch-when="2">
                <li class="list-group-item list-group-item">
                    <p class="lead">Spinning...</p>
                    <progress-bar value="33"></progress-bar>
                </li>
            </div>

            <div class="list-group" ng-switch-when="3">
                <li class="list-group-item list-group-item">
                    <p class="lead">Spinning...</p>
                    <progress-bar value="66"></progress-bar>
                </li>
            </div>

            <div class="list-group" ng-switch-when="4">
                <li class="list-group-item list-group-item">
                    <p class="lead">Claiming results...</p>
                    <progress-bar value="90" success="true"></progress-bar>
                </li>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 text-center">
        <button type="button" class="btn btn-info" ng-click="spin(1)" ng-disabled="player.coins < 1 || state > 1">Bet 1</button>
        <button type="button" class="btn btn-info" ng-click="spin(3)" ng-disabled="player.coins < 3 || state > 1">Bet 3</button>
        <button type="button" class="btn btn-info" ng-click="spin(5)" ng-disabled="player.coins < 5 || state > 1">Bet 5</button>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="autoplay" ng-change="autoplaySpin()"> Autoplay
            </label>
        </div>
    </div>
    <div class="col-md-4">
        <p>
            <a class="btn btn-default" href="paytable.html" target="_blank" role="button">
                <span class="glyphicon glyphicon-question-sign"></span> Pay Table
            </a>
        </p>
    </div>
</div>

<div class="row top-buffer">
    <div class="col-md-8">
        <round-panel round="round" state="state"></round-panel>
        <prev-rounds-panel rounds="rounds" current-round="player.round"></prev-rounds-panel>
    </div>

    <div class="col-md-4">
        <stats-panel contract="slethAddress" stats="stats"></stats-panel>
    </div>
</div>
