<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Previous Rounds</h3>
    </div>
    <table class="table table-condensed">
        <tr>
            <th>Round</th>
            <th>Player</th>
            <th>Block</th>
            <th>Bet</th>
            <th>Prize</th>
        </tr>
        <tr ng-repeat="round in rounds | toArray | orderBy: 'number' :true" ng-hide="round.number == currentRound">
            <td>{{round.number}}</td>
            <td>{{round.player | limitTo : 10}}</td>
            <td>{{round.block}}</td>
            <td>{{round.bet}}</td>
            <td>{{round.result}}</td>
        </tr>
    </table>
</div>
